<div>
  <header class="py-4 bg-gray-300 text-center">
    <div class="max-w-screen-lg mx-auto flex items-center">
      <div><app-arrow-to-home></app-arrow-to-home></div>
      <div class="flex-grow text-center pr-11">
        <h1 class="roboto text-3xl font-bold">KASSABOK</h1>
      </div>
    </div>
  </header>

  
  <app-chart  [transactions]="transactions"></app-chart>
  <app-calculate-accommodation></app-calculate-accommodation>
  <app-calculate-food></app-calculate-food>
  <app-calculate-clothe></app-calculate-clothe>
  <app-calculate-hobby></app-calculate-hobby>
  <app-calculate-transport></app-calculate-transport>
</div>
