.rounded-full {
  border-radius: 50%;
  border: 2px solid #ccc;
  padding: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.flex-item {
  flex: 1;
  margin: 3%;
}

.home-section {
  font-size: 1.5rem;
  border-radius: 0.75rem;
  padding: 0.35rem;
}

@media (min-width: 768px) {
  .limited-width-household {
    margin-left: 20%;
    margin-right: 20%;
  }

  .limited-width-header {
    margin-left: 20%;
    margin-right: 20%;
  }
}
  @media (min-width: 1024px){
    .limited-width-household {
      margin-left: 25%;
      margin-right: 25%;
    }
  .limited-width-header {
    margin-left: 25%;
    margin-right: 15%;
    
  }
  
}
@media (min-width: 768px) {
  .limited-width {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
  }
  .text-responsive {
    font-size: 1.75rem; 
  }
}
@media (min-width: 1024px) {
  .limited-width {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
  }
  .text-responsive {
    font-size: 2rem; 
  }
}
@media (min-width: 1440px) {
  .text-responsive {
    font-size: 2.25rem; 
  }
}
