<div *ngIf="isLoading; else transactionList">
  <app-transaction-group-skeleton></app-transaction-group-skeleton>
</div>
<ng-template #transactionList>
<div class="transactions-container" *ngIf="transactions.length > 0; else noTransactions">
  <h2 class="italic text-xl font-bold ml-6 mt-4">Lista</h2>
  <ul>
    
    <ng-container  *ngFor="let transaction of transactions; let i = index">
      <li class="list-none"
    >
      <p
        *ngIf="shouldShowDate(formatDate(transaction.date), lastDate)"
        class="italic text-lg font-bold py-2 ml-6"
      >
        {{ formatDate(transaction.date) }}
      </p>
      <div class="transaction-list flex justify-between p-1 mt-2 mx-6 bg-slate-100 rounded-xl">
        <div class="ml-6">
          <p class="text-lg">
            {{ transaction.name }}
          </p>
        </div>
        <div>
          <p class="text-lg mr-6">
            {{
              transaction.payment === "AMEX" || transaction.payment === "ICA" || transaction.payment === "Bank Transfer"
                ? getFormattedNegativeAmount(transaction.amount)
                : transaction.amount
            }}
            kr
          </p>
        </div>
      </div>
    </li>
  </ng-container>
  </ul>
</div>

<ng-template #noTransactions>
  <p class="transactions-container">No transactions available.</p>
</ng-template>
</ng-template>
