/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.header {
  background: linear-gradient(to left, #69bde9, #699298);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.trans-calculates {
  background: linear-gradient(to left, #69bde9, #99c1c6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
