/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.header {
  background: linear-gradient(to left, #69bde9, #699298);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.trans-calculates {
  background: linear-gradient(to left, #69bde9, #99c1c6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.limited-width {
  max-width: 90%;
}

@media (min-width: 768px) {
  .limited-width {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
  }
  .text-content {
    font-size: 1rem;
  }
  .text-subtitle {
    font-size: 1.25rem;
  }
  .text-responsive {
    font-size: 1.75rem; 
  }
}
@media (min-width: 1024px) {
  .limited-width {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
  }
  .text-content {
    font-size: 1.25rem;
  }
  .text-subtitle {
    font-size: 1.5rem;
  }
  .text-responsive {
    font-size: 2rem; 
  }
}
@media (min-width: 1440px) {
  .text-content {
    font-size: 1.5rem;
  }
  .text-subtitle {
    font-size: 1.75rem;
  }
  .text-responsive {
    font-size: 2.25rem; 
  }
}