<footer class="fixed bottom-0 left-0 right-0 py-3 bg-gray-300 text-center">
          <div class="flex justify-between items-center px-4">
            <a routerLink="/">
              <div class="flex items-center flex-col pl-2">
          <img class="h-8 w-8" src="/assets/footer/home.png" alt="Home Icon" />
                <span class="inter text-s pt-2">Home</span>
              </div>
            </a>
        
            <a routerLink="/transaction">
              <div class="flex items-center flex-col">
                <img class="h-8 w-12" src="/assets/footer/transaction.png" alt="Transaction Icon" />
                <span class="inter text-s pt-2">Transaktioner</span>
              </div>
            </a>
        
            <a routerLink="/cashbook">
              <div class="flex items-center flex-col">
                <img class="h-8 w-8" src="/assets/footer/cash-flow.png" alt="Ledger Icon" />
                <span class="inter text-s pt-2">Kassabok</span>
              </div>
            </a>
        
            <a routerLink="/account">
              <div class="flex items-center flex-col pr-2">
                <img class="h-8 w-8" src="/assets/footer/balance.png" alt="Account Icon" />
                <span class="inter text-s pt-2">Konto</span>
              </div>
            </a>
          </div>
        </footer>
        