<footer class="footer fixed bottom-0 left-0 right-0 py-3 md:py-4 lg:py-6 text-center">
          <div class="flex justify-between items-center mx-6 px-4 limited-width">
            <a routerLink="/">
              <div class="flex items-center flex-col pl-2">
          <img class="h-7 w-7 footer-icon" src="/assets/footer/home.png" alt="Home Icon" />
                <span class="inter text-xs pt-1 text-content">Home</span>
              </div>
            </a>
        
            <a routerLink="/transaction">
              <div class="flex items-center flex-col">
                <img class="h-7 w-12 footer-icon" src="/assets/footer/transaction.png" alt="Transaction Icon" />
                <span class="inter text-xs pt-1 text-content">Transaktioner</span>
              </div>
            </a>
        
            <a routerLink="/cashbook">
              <div class="flex items-center flex-col">
                <img class="h-7 w-7 footer-icon" src="/assets/footer/cash-flow.png" alt="Ledger Icon" />
                <span class="inter text-xs pt-1 text-content">Budget</span>
              </div>
            </a>
        
            <a routerLink="/account">
              <div class="flex items-center flex-col">
                <img class="h-7 w-7 footer-icon" src="/assets/footer/balance.png" alt="Account Icon" />
                <span class="inter text-xs pt-1 text-content">Konto</span>
              </div>
            </a>
          </div>
        </footer>
        