<div class="flex flex-col my-8">
  <div
    *ngFor="let account of accounts"
    class="flex justify-between items-center italic m-4 mx-6 bg-slate-100 rounded-xl p-2 box-shadow limited-width text-content"
  >
    <h2>{{ account.name }}</h2>
    <div class="px-4">
      <h3>Hämtat</h3>
      <h3>{{ account.date }}</h3>
    </div>
  </div>
  <button
    class="italic bg-cyan-200 rounded-xl mt-8 mx-24 p-2 px-4 box-shadow limited-width text-content"
    title="Button"
  >
    Anslut nytt konto
  </button>
</div>
